# Biblioteki

In [31]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import random

# Pobranie Danych o najpopularniejszych imionach i nazwisakch z GUS'u
# Pobieranie Danych o Ulicach z TECH

In [32]:
fn = pd.read_csv('ZI.csv').head(500)
mn = pd.read_csv('MI.csv').head(500)
fsn = pd.read_csv('ZN.csv').head(500)
msn = pd.read_csv('MN.csv').head(500)

fn = fn['IMIĘ_PIERWSZE'].tolist()
mn = mn['IMIĘ_PIERWSZE'].tolist()
fsn = fsn['Nawisko aktualne'].tolist()
msn = msn['Nawisko aktualne'].tolist()


s_zg = pd.read_csv('UliceZg.csv', delimiter=';', skiprows=5)
s_wro = pd.read_csv('UliceWro.csv', delimiter=';', skiprows=5)
s_wal = pd.read_csv('UliceWał.csv', delimiter=';', skiprows=5)
s_op = pd.read_csv('UliceOpole.csv', delimiter=';', skiprows=5)
s_lesz = pd.read_csv('UliceLeszno.csv', delimiter=';', skiprows=5)
s_leg = pd.read_csv('UliceLeg.csv', delimiter=';', skiprows=5)
s_jel = pd.read_csv('UliceJel.csv', delimiter=';', skiprows=5)

streets = {
    'Zielona Góra': s_zg['NAZWA_1'].tolist(),
    'Wrocław': s_wro['NAZWA_1'].tolist(),
    'Wałbrzych': s_wal['NAZWA_1'].tolist(),
    'Opole': s_op['NAZWA_1'].tolist(),
    'Leszno': s_lesz['NAZWA_1'].tolist(),
    'Legnica': s_leg['NAZWA_1'].tolist(),
    'Jelenia Góra': s_jel['NAZWA_1'].tolist(),
}

## 1.Wypełnienie Skryptowe
### 1.1. Imion i Nazwisk:

In [47]:
def Klienci():
    try:
        # Połącz się z bazą danych
        connection = mysql.connector.connect(
            host = "giniewicz.it",
            user = "team16",
            password = "---",
            database = "team16"
        )
        
        if connection.is_connected():
            cursor = connection.cursor()
            
            # Tworzenie tabeli Klienci, jeśli jeszcze nie istnieje
            create_table_query = '''
            CREATE TABLE IF NOT EXISTS Klienci (
                id_klienta VARCHAR(4) NOT NULL PRIMARY KEY,
                imie VARCHAR(255) NOT NULL,
                nazwisko VARCHAR(255) NOT NULL
            )
            '''
            cursor.execute(create_table_query)
            print("Table `Klienci` created successfully")

            # Usunięcie wszystkich danych z tabeli Adresy
            delete_all_query = "DELETE FROM Adresy"
            cursor.execute(delete_all_query)
            print("All data deleted from `Adresy` table")
            # Usunięcie wszystkich danych z tabeli Klienci
            delete_all_query = "DELETE FROM Klienci"
            cursor.execute(delete_all_query)
            print("All data deleted from `Klienci` table")
             

            # Zapytanie SQL do wstawienia rekordu
            for _ in range(150):
                if random.choice([True, False]):  # Losowanie Płci
                    name = random.choice(fn)
                    surname = random.choice(fsn)
                else:
                    name = random.choice(mn)
                    surname = random.choice(msn)

                client_id = f"{_+1:04d}"  # Generowanie id_klienta
                sql_insert_query = "INSERT INTO Klienci (id_klienta, imie, nazwisko) VALUES (%s, %s, %s)"
                cursor.execute(sql_insert_query, (client_id, name, surname))
            
            # Zatwierdzenie zmian w bazie danych
            connection.commit()
            print("Record inserted successfully into Klienci table")

            # Wyświetlenie zawartości tabeli Klienci
            cursor.execute("SELECT * FROM Klienci")
            rows = cursor.fetchall()
            print("Table `Klienci` content:")
            for row in rows:
                print(row)

    except Error as e:
        print(f"Error while connecting to MySQL: {e}")

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [48]:
Klienci()

Table `Klienci` created successfully
All data deleted from `Adresy` table
All data deleted from `Klienci` table
Record inserted successfully into Klienci table
Table `Klienci` content:
('0001', 'MISHEL', 'ŚLIWA')
('0002', 'KEVIN', 'PAWŁOWSKI')
('0003', 'EDWARD', 'KUJAWA')
('0004', 'RACHELA', 'GRUSZCZYŃSKA')
('0005', 'BIANKA', 'CZYŻ')
('0006', 'MARTIN', 'KAŹMIERCZAK')
('0007', 'LUCAS', 'ROGALA')
('0008', 'TYMON', 'MAJ')
('0009', 'DOBROMIŁA', 'GRABOWSKA')
('0010', 'MATILDA', 'ROJEK')
('0011', 'WANDA', 'STEFAŃSKA')
('0012', 'CELINA', 'NOWICKA')
('0013', 'MARCELI', 'KALETA')
('0014', 'AIDA', 'WĄSIK')
('0015', 'BEATA', 'GRABOWSKA')
('0016', 'ASTRID', 'BIENIEK')
('0017', 'NICO', 'ROGALA')
('0018', 'ZOFIA', 'KOWAL')
('0019', 'ILLIA', 'KOT')
('0020', 'ROSE', 'MILCZAREK')
('0021', 'GERARD', 'BIELECKI')
('0022', 'ARIEL', 'ŁUCZAK')
('0023', 'AMALIA', 'BARANOWSKA')
('0024', 'MALIK', 'LEWICKI')
('0025', 'LILLA', 'LEWICKA')
('0026', 'ILIAN', 'DZIUBA')
('0027', 'DAJANA', 'DUBIEL')
('0028', 'MICHAL', 'DĘBOWSKI')
('0029', 'KONSTANTIN', 'DUDEK')
('0030', 'KASPER', 'LACH')
('0031', 'ADELINA', 'KRYSIAK')
('0032', 'MARHARYTA', 'WESOŁOWSKA')
('0033', 'SEWERYN', 'SZCZEPAŃSKI')
('0034', 'SVIATOSLAV', 'LEŚNIEWSKI')
('0035', 'GUSTAV', 'PIETRAS')
('0036', 'ILAN', 'KASPRZAK')
('0037', 'NOELIA', 'PIETRAS')
('0038', 'KAJ', 'SOBCZAK')
('0039', 'NIKOL', 'KOŁODZIEJCZYK')
('0040', 'ZLATOSLAVA', 'BIERNAT')
('0041', 'BARTŁOMIEJ', 'LESZCZYŃSKI')
('0042', 'NAZAR', 'BRZOZOWSKI')
('0043', 'MARIANNA', 'TKACZYK')
('0044', 'MIROSLAVA', 'URBAN')
('0045', 'MICHELLE', 'ROMANOWSKA')
('0046', 'NEL', 'STRZELECKA')
('0047', 'VARVARA', 'PAWŁOWSKA')
('0048', 'SOFIA', 'BEDNARZ')
('0049', 'ADELAJDA', 'NOWAK')
('0050', 'KIRILL', 'ZAWADZKI')
('0051', 'DIANA', 'MELNYK')
('0052', 'RUSLAN', 'MISIAK')
('0053', 'NILA', 'WIĘCEK')
('0054', 'SOFIA', 'ŻEBROWSKA')
('0055', 'NATALIE', 'GĄSIOR')
('0056', 'ELŻBIETA', 'TROJANOWSKA')
('0057', 'SAMIRA', 'MAREK')
('0058', 'WERONIKA', 'ADAMSKA')
('0059', 'OTYLIA', 'WITEK')
('0060', 'LILLY', 'BOGUSZ')
('0061', 'MARIANNA', 'STASZEWSKA')
('0062', 'MARIKA', 'WOJTCZAK')
('0063', 'DANUTA', 'CHOJNACKA')
('0064', 'JAMES', 'MAJCHRZAK')
('0065', 'ZAKARIA', 'WALKOWIAK')
('0066', 'PHILIP', 'SAWICKI')
('0067', 'SAMIRA', 'MAJCHER')
('0068', 'MAIIA', 'GUTOWSKA')
('0069', 'PATRYCJA', 'BARTOSIK')
('0070', 'SEWERYN', 'DRZEWIECKI')
('0071', 'MICHAEL', 'MUCHA')
('0072', 'DAVID', 'CYGAN')
('0073', 'BARTOSZ', 'WITCZAK')
('0074', 'TAMARA', 'KSIĄŻEK')
('0075', 'MIKA', 'FRANKOWSKA')
('0076', 'IVAR', 'WÓJCIK')
('0077', 'ALEKSANDR', 'MUSZYŃSKI')
('0078', 'ANATOL', 'ŻEBROWSKI')
('0079', 'KSENIA', 'WALKOWIAK')
('0080', 'MARIAN', 'KRÓLIKOWSKI')
('0081', 'FELICJAN', 'PIEKARSKI')
('0082', 'MAŁGORZATA', 'KUREK')
('0083', 'NELLY', 'CYGAN')
('0084', 'WINCENT', 'URBAŃCZYK')
('0085', 'TEODOR', 'NAWROT')
('0086', 'SYLWESTER', 'RYBAK')
('0087', 'INGA', 'KOZIEŁ')
('0088', 'OLIVIIA', 'JĘDRZEJEWSKA')
('0089', 'ANGELIKA', 'STANEK')
('0090', 'RUSLAN', 'PASTERNAK')
('0091', 'JAREMA', 'MARZEC')
('0092', 'DALIA', 'BOBER')
('0093', 'JULIANA', 'KALINOWSKA')
('0094', 'ŁUCJA', 'SADOWSKA')
('0095', 'REGINA', 'MAKOWSKA')
('0096', 'WOJTEK', 'HAJDUK')
('0097', 'NADIA', 'DOBROWOLSKA')
('0098', 'LEILA', 'MATYSIAK')
('0099', 'NOEMI', 'KOZIEŁ')
('0100', 'GRZEGORZ', 'ŚWIDERSKI')
('0101', 'MARIUSZ', 'GAŁĄZKA')
('0102', 'KORNELIA', 'FILIPIAK')
('0103', 'JULIANA', 'TROJANOWSKA')
('0104', 'CHARLIE', 'SADOWSKI')
('0105', 'KASPER', 'SKOWROŃSKI')
('0106', 'BARTŁOMIEJ', 'JABŁOŃSKI')
('0107', 'SARA', 'MATUSIAK')
('0108', 'CELIA', 'MURAWSKA')
('0109', 'LIDIA', 'GAJEWSKA')
('0110', 'ALIA', 'JABŁOŃSKA')
('0111', 'MIYA', 'ZIĘBA')
('0112', 'JEREMIASZ', 'PIETRZAK')
('0113', 'MARGARITA', 'GOŁĘBIOWSKA')
('0114', 'DARYNA', 'PIĄTKOWSKA')
('0115', 'FLORENTYNA', 'ŁUCZAK')
('0116', 'ZOJA', 'MIELCZAREK')
('0117', 'ANNA', 'KACZOR')
('0118', 'GABRIEL', 'WOJTCZAK')
('0119', 'AARON', 'WRONA')
('0120', 'KIARA', 'JANKOWSKA')
('0121', 'FAUSTYNA', 'WASIAK')
('0122', 'KRISTIAN', 'LEŚNIAK')
('0123', 'JANA', 'SKOCZYLAS')
('0124', 'YEVHENII', 'KOZŁOWSKI')
('0125', 'KARIM', 'DUDA')
('0126', 'MAXIMILIAN', 'STEFANIAK')
('0127', 'LIZA', 'NIEWIADOMSKA')
('0128', 'WŁADYSŁAW', 'CZARNECKI')
('0129', 'GABRIEL', 'BARTOSIK')
('0130', 'MARIAN', 'SIKORA')
('0131', 'MELANIIA', 'RATAJCZAK')
('0132', 'CLAUDIA', 'SIENKIEWICZ')
('0133', 'RAYAN', 'BEDNARZ')
('0134', 'TATIANA', 'MARCZAK')
('0135', 'FABIO', 'PASTERNAK')
('0136', 'FLORIANNA', 'NOWICKA')
('0137', 'RUT', 'SZOSTAK')
('0138', 'ULYANA', 'GAWROŃSKA')
('0139', 'ILONA', 'MARZEC')
('0140', 'AUGUSTYN', 'ŁUCZAK')
('0141', 'LEV', 'CYGAN')
('0142', 'JULIANA', 'KRÓL')
('0143', 'CHARLIE', 'CIEŚLA')
('0144', 'ALICE', 'ŁUKASIEWICZ')
('0145', 'OLENA', 'BIERNACKA')
('0146', 'MIRON', 'SOSNOWSKI')
('0147', 'ARAS', 'GÓRAL')
('0148', 'RYSZARD', 'JAROSZ')
('0149', 'JĘDRZEJ', 'WOLSKI')
('0150', 'SARAH', 'ROJEK')
MySQL connection is closed

### 1.2. Adresów

In [49]:
def generate_address_data(client_id):
    cities = ['Wrocław', 'Zielona Góra', 'Legnica', 'Wałbrzych', 'Opole', 'Leszno', 'Jelenia Góra']
    city = random.choice(cities)
    street = random.choice(streets[city])
    building_number = str(random.randint(1, 100))
    phone_number = f"+48 600 {random.randint(100, 999)} {random.randint(100, 999)}"
    
    return (client_id, city, street, building_number, phone_number)

In [50]:
def Adresy():
    try:
        # Połącz się z bazą danych
        connection = mysql.connector.connect(
            host = "giniewicz.it",
            user = "team16",
            password = "---",
            database = "team16"
        )
        
        if connection.is_connected():
            cursor = connection.cursor()
            
            # Tworzenie tabeli Adresy, jeśli jeszcze nie istnieje
            create_table_query ='''
            CREATE TABLE IF NOT EXISTS Adresy (
                id_klienta VARCHAR(4) PRIMARY KEY,
                miasto VARCHAR(255) NOT NULL,
                ulica VARCHAR(255) NOT NULL,
                nr_budynku VARCHAR(10) NOT NULL,
                nr_telefonu VARCHAR(15) NOT NULL,
                FOREIGN KEY (id_klienta) REFERENCES Klienci(id_klienta)
            )
            '''
            cursor.execute(create_table_query)
            print("Table `Adresy` created successfully")

            # Pobieranie id_klienta z tabeli Klienci
            cursor.execute("SELECT id_klienta FROM Klienci")
            client_ids = cursor.fetchall()
            
            # Usunięcie wszystkich danych z tabeli Adresy
            delete_all_query = "DELETE FROM Adresy"
            cursor.execute(delete_all_query)
            print("All data deleted from `Adresy` table")

            # Wstawianie nowych adresów do tabeli Adresy
            for client_id_tuple in client_ids:
                client_id = client_id_tuple[0]
                address_data = generate_address_data(client_id)
                sql_insert_query = "INSERT INTO Adresy (id_klienta, miasto, ulica, nr_budynku, nr_telefonu) VALUES (%s, %s, %s, %s, %s)"
                cursor.execute(sql_insert_query, address_data)

            # Zatwierdzenie zmian
            connection.commit()
            print("Addresses inserted successfully into Adresy table")

            # Wyświetlanie zawartości tabeli Adresy
            cursor.execute("SELECT * FROM Adresy")
            rows = cursor.fetchall()
            print("Table `Adresy` content:")
            for row in rows:
                print(row)

    except Error as e:
        print(f"Error while connecting to MySQL: {e}")

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [51]:
Adresy()

Table `Adresy` created successfully
All data deleted from `Adresy` table
Addresses inserted successfully into Adresy table
Table `Adresy` content:
('0001', 'Opole', 'Księżycowa', '53', '+48 600 935 955')
('0002', 'Zielona Góra', 'Kossaka', '48', '+48 600 127 544')
('0003', 'Legnica', 'Sadownicza', '83', '+48 600 957 133')
('0004', 'Wałbrzych', 'Pionierów', '11', '+48 600 961 735')
('0005', 'Leszno', 'Zielna', '30', '+48 600 289 590')
('0006', 'Opole', 'Nadbrzeżna', '15', '+48 600 275 787')
('0007', 'Jelenia Góra', 'Wiosenna', '28', '+48 600 913 874')
('0008', 'Wrocław', 'Nasypowa', '84', '+48 600 894 203')
('0009', 'Jelenia Góra', 'Działkowicza', '83', '+48 600 296 598')
('0010', 'Wałbrzych', 'Sygietyńskiego', '83', '+48 600 821 865')
('0011', 'Wrocław', 'Białodrzewna', '56', '+48 600 577 817')
('0012', 'Legnica', 'Konduktorska', '81', '+48 600 116 288')
('0013', 'Opole', 'Kopernika', '94', '+48 600 819 737')
('0014', 'Jelenia Góra', 'Kamińskiego', '63', '+48 600 462 235')
('0015', 'Wałbrzych', 'Głowackiego', '81', '+48 600 151 960')
('0016', 'Legnica', 'Brzechwy', '19', '+48 600 450 610')
('0017', 'Leszno', 'Mielżyńskich', '90', '+48 600 478 597')
('0018', 'Leszno', 'Rzepakowa', '49', '+48 600 131 237')
('0019', 'Zielona Góra', 'Ochla-Topolowa', '57', '+48 600 751 393')
('0020', 'Leszno', 'Bracka', '65', '+48 600 472 415')
('0021', 'Zielona Góra', 'Krępa-Odrzańska', '24', '+48 600 100 967')
('0022', 'Legnica', 'Przemkowska', '25', '+48 600 196 241')
('0023', 'Zielona Góra', 'Nowy Kisielin-Topolowa', '73', '+48 600 774 833')
('0024', 'Wałbrzych', 'Przelotowa', '29', '+48 600 620 934')
('0025', 'Opole', 'Liściasta', '83', '+48 600 928 568')
('0026', 'Leszno', 'Fałata', '19', '+48 600 451 794')
('0027', 'Wałbrzych', 'Wiejska', '68', '+48 600 782 203')
('0028', 'Leszno', 'Korczaka', '4', '+48 600 551 759')
('0029', 'Legnica', 'Jordana', '53', '+48 600 109 602')
('0030', 'Opole', 'Gorzołki', '34', '+48 600 764 942')
('0031', 'Jelenia Góra', 'Pod Chojnikiem', '37', '+48 600 295 179')
('0032', 'Legnica', 'Bitwy pod Monte Cassino', '12', '+48 600 566 953')
('0033', 'Wrocław', 'Baudouina de Courtenay', '15', '+48 600 496 723')
('0034', 'Jelenia Góra', 'Księżycowa', '14', '+48 600 520 463')
('0035', 'Jelenia Góra', 'Cinciały', '35', '+48 600 368 755')
('0036', 'Jelenia Góra', 'Mleczna Droga', '33', '+48 600 518 252')
('0037', 'Wałbrzych', 'Osiedle Górnicze', '96', '+48 600 743 725')
('0038', 'Wrocław', 'Nowy Targ', '70', '+48 600 115 198')
('0039', 'Jelenia Góra', 'Kiepury', '76', '+48 600 141 294')
('0040', 'Leszno', 'Rondo Im. Generała Józefa Hallera', '40', '+48 600 780 829')
('0041', 'Legnica', 'Poselska', '83', '+48 600 534 959')
('0042', 'Leszno', 'Reja', '13', '+48 600 380 784')
('0043', 'Wałbrzych', 'Mała', '54', '+48 600 373 508')
('0044', 'Zielona Góra', 'Chłodna', '63', '+48 600 676 490')
('0045', 'Zielona Góra', 'Olchowa', '13', '+48 600 872 820')
('0046', 'Jelenia Góra', 'Teatralna', '42', '+48 600 316 931')
('0047', 'Wrocław', 'Jeżowska', '71', '+48 600 999 959')
('0048', 'Jelenia Góra', 'Grabowskiego', '48', '+48 600 162 425')
('0049', 'Jelenia Góra', 'Madrycka', '66', '+48 600 353 884')
('0050', 'Wałbrzych', 'Dąbrowskiej', '79', '+48 600 681 199')
('0051', 'Wrocław', 'Cementowa', '98', '+48 600 112 529')
('0052', 'Wrocław', 'Prudnicka', '63', '+48 600 194 304')
('0053', 'Wałbrzych', 'Rondo Wałbrzyskich Twórców', '69', '+48 600 708 710')
('0054', 'Legnica', 'Storczykowa', '4', '+48 600 916 159')
('0055', 'Wrocław', 'Szpitalna', '76', '+48 600 909 595')
('0056', 'Legnica', 'Schumana', '18', '+48 600 973 595')
('0057', 'Legnica', 'Ceglana', '57', '+48 600 975 149')
('0058', 'Jelenia Góra', 'Na Skałkach', '23', '+48 600 259 944')
('0059', 'Leszno', 'Marcinkowskiego', '58', '+48 600 428 773')
('0060', 'Wałbrzych', 'Magistracki', '11', '+48 600 572 274')
('0061', 'Jelenia Góra', 'Żwirki', '54', '+48 600 274 765')
('0062', 'Wrocław', 'Postolińska', '47', '+48 600 871 165')
('0063', 'Jelenia Góra', 'Maciejowska', '46', '+48 600 271 501')
('0064', 'Wrocław', 'Czerwca 1989 r.', '15', '+48 600 218 996')
('0065', 'Zielona Góra', 'Przewalskiego', '40', '+48 600 287 365')
('0066', 'Wrocław', 'Most Ratyński', '38', '+48 600 605 577')
('0067', 'Wrocław', 'Kosidowskiego', '96', '+48 600 282 707')
('0068', 'Jelenia Góra', 'Kozia', '98', '+48 600 631 258')
('0069', 'Jelenia Góra', 'Sudecka', '18', '+48 600 485 707')
('0070', 'Zielona Góra', 'Hiszpańska', '6', '+48 600 750 467')
('0071', 'Opole', 'Makowa', '45', '+48 600 642 963')
('0072', 'Wrocław', 'Podbiałowa', '94', '+48 600 531 530')
('0073', 'Wrocław', 'Budowlana', '40', '+48 600 979 838')
('0074', 'Jelenia Góra', 'Wzgórze Wandy', '70', '+48 600 933 137')
('0075', 'Wałbrzych', 'Ogińskiego', '47', '+48 600 254 222')
('0076', 'Jelenia Góra', 'Powstańców Wielkopolskich', '52', '+48 600 211 508')
('0077', 'Jelenia Góra', 'Walońska', '31', '+48 600 230 607')
('0078', 'Jelenia Góra', 'Bolesława Chrobrego', '2', '+48 600 454 272')
('0079', 'Opole', 'Halicka', '31', '+48 600 652 591')
('0080', 'Zielona Góra', 'Reja', '24', '+48 600 622 594')
('0081', 'Opole', 'Kluczborska', '68', '+48 600 677 292')
('0082', 'Legnica', 'Wilcza', '91', '+48 600 543 302')
('0083', 'Zielona Góra', 'Ochla-Alfreda Smoczyka', '39', '+48 600 374 127')
('0084', 'Opole', 'Kopernika', '60', '+48 600 954 680')
('0085', 'Wałbrzych', 'Różana', '85', '+48 600 411 606')
('0086', 'Jelenia Góra', 'Rondo Kazimierza Majewskiego', '80', '+48 600 521 457')
('0087', 'Legnica', 'Wilsona', '41', '+48 600 197 785')
('0088', 'Wałbrzych', 'Jesienna', '12', '+48 600 582 931')
('0089', 'Leszno', 'Świętojańska', '91', '+48 600 677 437')
('0090', 'Wałbrzych', 'Młynarska', '10', '+48 600 185 885')
('0091', 'Wałbrzych', 'Ciechocińska', '95', '+48 600 760 921')
('0092', 'Wałbrzych', 'Szmidta', '70', '+48 600 226 757')
('0093', 'Wałbrzych', 'Sucharskiego', '84', '+48 600 489 424')
('0094', 'Wałbrzych', 'Brzoskwiniowa', '17', '+48 600 642 242')
('0095', 'Opole', 'Kolbuszewskiego', '59', '+48 600 827 299')
('0096', 'Zielona Góra', 'Platynowa', '97', '+48 600 274 753')
('0097', 'Wałbrzych', 'Spacerowa', '11', '+48 600 847 169')
('0098', 'Jelenia Góra', 'Panieńska', '60', '+48 600 275 595')
('0099', 'Opole', 'Dzikiej Róży', '8', '+48 600 992 670')
('0100', 'Jelenia Góra', 'Góra Bohaterów', '64', '+48 600 864 140')
('0101', 'Opole', 'Astrów', '21', '+48 600 503 785')
('0102', 'Opole', 'Herbaciana', '84', '+48 600 777 819')
('0103', 'Leszno', 'Marciniaka', '74', '+48 600 533 511')
('0104', 'Jelenia Góra', 'Storczykowa', '86', '+48 600 705 154')
('0105', 'Wałbrzych', 'Staszica', '11', '+48 600 947 884')
('0106', 'Wrocław', 'Wędkarzy', '15', '+48 600 673 419')
('0107', 'Legnica', 'Ścinawska', '28', '+48 600 976 474')
('0108', 'Legnica', 'Krzywa', '2', '+48 600 745 160')
('0109', 'Legnica', 'Zamiejska', '77', '+48 600 494 301')
('0110', 'Legnica', 'Filtrowa', '98', '+48 600 258 798')
('0111', 'Zielona Góra', 'Gajowa', '96', '+48 600 436 322')
('0112', 'Wrocław', 'Gimnazjalna', '15', '+48 600 409 762')
('0113', 'Wałbrzych', 'Tatrzańska', '64', '+48 600 554 734')
('0114', 'Jelenia Góra', 'Zana', '6', '+48 600 900 255')
('0115', 'Legnica', 'Desantowa', '66', '+48 600 822 764')
('0116', 'Jelenia Góra', 'Skwer PTTK "Sudety Zachodnie"', '52', '+48 600 359 336')
('0117', 'Wrocław', 'Kwidzyńska', '68', '+48 600 831 943')
('0118', 'Legnica', 'Gorzowska', '16', '+48 600 288 811')
('0119', 'Jelenia Góra', 'Niemcewicza', '37', '+48 600 164 351')
('0120', 'Opole', 'Żakardowa', '28', '+48 600 652 617')
('0121', 'Zielona Góra', 'Przylep-Łąkowa', '26', '+48 600 336 742')
('0122', 'Jelenia Góra', 'Kopernika', '23', '+48 600 764 754')
('0123', 'Opole', 'Motylkowa', '6', '+48 600 234 768')
('0124', 'Legnica', 'Spółdzielcza', '84', '+48 600 787 397')
('0125', 'Jelenia Góra', 'Plac Zdrojowy', '77', '+48 600 195 774')
('0126', 'Wrocław', 'Mieszka I', '48', '+48 600 454 171')
('0127', 'Opole', 'Polna', '81', '+48 600 395 570')
('0128', 'Leszno', 'Rondo Leszczynko', '65', '+48 600 453 330')
('0129', 'Leszno', 'Rondo LFP', '63', '+48 600 894 759')
('0130', 'Wrocław', 'Nankiera', '32', '+48 600 253 630')
('0131', 'Leszno', 'Kochanowskiego', '50', '+48 600 702 405')
('0132', 'Wrocław', 'Wylotowa', '40', '+48 600 221 196')
('0133', 'Wrocław', 'Wagonowa', '64', '+48 600 575 644')
('0134', 'Wałbrzych', 'Duboisa', '89', '+48 600 932 570')
('0135', 'Wrocław', 'Peronowa', '51', '+48 600 206 713')
('0136', 'Jelenia Góra', 'Borówkowa', '82', '+48 600 379 603')
('0137', 'Opole', 'Rondo im. Romana Kirsteina', '76', '+48 600 860 169')
('0138', 'Leszno', 'Niepodległości', '94', '+48 600 251 601')
('0139', 'Jelenia Góra', 'Widok', '64', '+48 600 793 135')
('0140', 'Wałbrzych', 'Sudecka', '40', '+48 600 241 749')
('0141', 'Wrocław', 'Herbsta', '20', '+48 600 517 174')
('0142', 'Wałbrzych', 'Puszkina', '16', '+48 600 427 788')
('0143', 'Zielona Góra', 'Racula-Z. i I. Solarzów', '87', '+48 600 104 488')
('0144', 'Legnica', 'Desantowa', '41', '+48 600 708 747')
('0145', 'Leszno', 'Garażowa', '50', '+48 600 676 710')
('0146', 'Opole', 'Szeroka', '46', '+48 600 586 706')
('0147', 'Zielona Góra', 'Suwalska', '39', '+48 600 299 836')
('0148', 'Legnica', 'Mała', '72', '+48 600 193 374')
('0149', 'Wrocław', 'Strażnicza', '23', '+48 600 606 246')
('0150', 'Jelenia Góra', 'Miłosza', '78', '+48 600 314 391')
MySQL connection is closed